@model Store.Management.Web.ViewModels.StoreManagementViewModel

<div class="container">
    @using (Html.BeginForm("Index", "StoreManagementWeb"))
    {
        if (Model is not null)
        {
            <div class="form-row mt-3">
                <div class="col-4 mt-4">
                    @Html.LabelFor(m => m.Category, new { @class = "store-management-label-global" })
                    @if (Model.ListCategories is not null && Model.ListCategories.Any())
                    {
                        @Html.DropDownList("CategoryName", (IEnumerable<SelectListItem>)Model.ListCategories, new { id = "dpdCategoryName", @class = "form-control form-select-lg", required = "false" })
                    }
                </div>
                <div class="col-4 mt-4">
                    @Html.LabelFor(m => m.SubCategory, new { @class = "store-management-label-global" })
                    @if (Model.ListSubCategories is not null && Model.ListSubCategories.Any())
                    {
                        @Html.DropDownList("SubCategoryName", (IEnumerable<SelectListItem>)Model.ListSubCategories, new { id = "dpdSubCategoryName", @class = "form-control form-select-lg", required = "false" })
                    }
                </div>
                <div class="col-4 mt-4">
                    @Html.LabelFor(m => m.Product, new { @class = "store-management-label-global" })
                    @if (Model.ListProducts is not null && Model.ListProducts.Any())
                    {
                        @Html.DropDownList("ProductName", (IEnumerable<SelectListItem>)Model.ListProducts, new { id = "dpdProduct", @class = "form-control form-select-lg", required = "false" })
                    }
                </div>
            </div>
            <div class="form-row mt-4 pl-1">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-secondary btn-lg" id="btnStoreManagement" name="btnStoreManagement">
                        <span id="idSpanStoreManagement"><i class="fas fa-check"></i>Submit</span>
                    </button>
                </div>
            </div>
        }
    }
</div>

@Html.Partial("~/Views/Shared/_ModalInformation.cshtml")