@model Store.Management.Models.Category
@{
    <script src="/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $('#SubCategoryID').html(items);
            $('#ProductID').html(items);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CategoryID').change(function () {
                var url = '@Url.Content("~/")' + "Demo/GetSubCategory";
                var ddlsource = "#CategoryID";
                $.getJSON(url, { CategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#SubCategoryID").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $('#SubCategoryID').html(items);
                });
            });

            $('#SubCategoryID').change(function () {
                var url = '@Url.Content("~/")' + "Demo/GetProducts";
                var ddlsource = "#SubCategoryID";
                $.getJSON(url, { SubCategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#ProductID').empty();
                    $.each(data, function (i, product) {
                        items += "<option value='" + product.value + "'>" + product.text + "</option>";
                    });
                    $('#ProductID').html(items);
                });
            });
        });
    </script>

    <form asp-controller="Demo" asp-action="Index" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="row">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <select asp-for="CategoryID"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListofCategory,"CategoryID", "CategoryName"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">  
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label class="control-label">SubCategoryName</label>
                    <select class="form-control" id="SubCategoryID" name="SubCategoryID" asp-for="SubCategoryID"
                            asp-items="@(new SelectList(string.Empty,"SubCategoryID", "SubCategoryName"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label class="control-label">ProductName</label>
                    <select class="form-control" id="ProductID" name="ProductID" asp-for="ProductID"
                            asp-items="@(new SelectList(string.Empty,"ProductID", "ProductName"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <input id="Submit1" type="submit" value="submit" />
                </div>
            </div>
        </div>
    </form>
}
